<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Laravel SIASN API Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="SIASN_MODE" value="production"/>
        <env name="SIASN_DEBUG" value="false"/>
        <env name="SIASN_TEST_GET_ENDPOINT" value="https://apimws.bkn.go.id:8243/referensi_siasn/1/agama"/>
        <env name="SIASN_TEST_GET_WITH_SSO_ENDPOINT"
             value="https://apimws.bkn.go.id:8243/apisiasn/1.0/referensi/ref-unor"/>
    </php>
</phpunit>
