<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Laravel SIASN API Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="SIASN_MODE" value="training"/>
        <env name="SIASN_DEBUG" value="false"/>
        <env name="SIASN_APIM_USERNAME" value=""/>
        <env name="SIASN_APIM_PASSWORD" value=""/>
        <env name="SIASN_SSO_CLIENT_ID" value=""/>
        <env name="SIASN_SSO_USERNAME" value=""/>
        <env name="SIASN_SSO_PASSWORD" value=""/>
        <env name="SIASN_CONST_INSTANSI_ID" value=""/>
        <env name="SIASN_CONST_SATUAN_KERJA_ID" value=""/>
        <env name="SIASN_GET_REQUEST_ENDPOINT_TEST" value="https://apimws.bkn.go.id:8243/apisiasn/1.0/referensi/ref-unor"/>
        <env name="SIASN_POST_REQUEST_ENDPOINT_TEST" value="https://apimws.bkn.go.id:8243/apisiasn/1.0/pns/data-utama-update"/>
        <env name="PNS_ORANG_ID" value=""/>
    </php>
</phpunit>
